.nav {
    display: inline-flex;
    align-items: right;
    justify-content: center;
}

.color-settings {
    color: #05f4be;
    margin-right: 1em ;
    text-decoration: none;
}

.navhover:hover {
    color: #076751fa;
}

.activ {
    color: azure;
}

.bg-dark-color {
    background-color: #1c2b43;
}

.logo {
    margin-left: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.class-color {
    border-color: #2B3E4F;
    border-style: solid;
    border-radius: 8px;
    outline: none;
    background-color: #2B3E4F;
    color: #05f4be;
}

.shop-title {
    margin-top: 4em;
    margin-bottom: 2em;
    text-align: center;
}

.dcb {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.dcbtext{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.DetailsBTN {
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DetailsSetting {
     width: 40%;
    border-color: #1c2b43;
    border-style: solid;
    border-radius: 3px;
    outline: none;
    background-color: #1c2b43;
    color: #05f4be;
}

.rowspace {
    margin-top: 4em;
}

.link {
    text-decoration: none;
    color: #05f4be;
}

.link:hover {
    color: #076751fa;
}

.footerleft {
    display: flex;
    align-items: center;
    justify-content: left;
}

.footerright {
    display: flex;
    align-items: center;
    justify-content: right;
}

.footer {
    margin-top: 4em;
    margin-bottom: 2em;
}

body {
    background-color: #2B3E4F;
    overflow-x: hidden;
    overflow-y: auto;
}